    <div id="S2">
      <p> <b>Enlaces de Interes:</b> </p>
      <p> <b>Gitlab :</b> <a class="a-bottom" target="_blank" href="https://gitlab.com/andragonzalez/m12_arduino"> <b>https://gitlab.com/andragonzalez/m12_arduino</b> </a><p>
      <p> <b>Drive :</b> <a class="a-bottom" target="_blank" href="https://docs.google.com/document/d/1Q1Oe9JMnSIcyJmJcAtOFlqMZmgrd8KLNsptSEVRBKR4/edit?usp=sharing"> <b>https://docs.google.com/document/d/1Q1Oe9JMnSIcyJmJcAtOFlqMZmgrd8KLNsptSEVRBKR4/edit?usp=sharing </b> </a></p>
      <p> <b>Youtube :</b> <a class="a-bottom" target="_blank" href="https://www.youtube.com/watch?v=wHBru-e6u9g"> <b>https://www.youtube.com/watch?v=wHBru-e6u9g</b> </a></p>
    </div>
    <div id="S2">
      <p> <b>Marcas:</b> </p>
      <p> <b>Arduino:</b> <a class="a-bottom" target="_blank" href="https://www.arduino.cc/"> <b>https://www.arduino.cc/</b> </a><p>
    </div>
    <div id="S2">
      <p> <b>Contacta conmigo:</b> </p>
      <code> <b>andragonzalez@elpuig.xeill.net</b> </code>
    </div>
