  <section class="home">
     <div class="slider">
        <div class="slide active" style="background-image: url('images/Fondo1.png')">
        </div>
       
     </div>

    <!-- controls  -->
    <div class="controls">
        <div class="prev"><</div>
        <div class="next">></div>
    </div>

    <!-- indicators -->
    <div class="indicator">
    </div>

  </section>
