body {
  margin: 0 auto;
  background-color: #444040;}

div .a-buttons {
text-decoration: none;
color: white;
font-size: 20px;
padding: 15px;
display:inline-block;
font-family: monospace; 
}


.cuerpo{
width: 50%;
height: auto;
margin: 0 auto;
box-shadow: 2px 2px 20px black;
background-color: #1d1b1b;
border-radius: 10px;

}

/*@media only screen and (min-width: 300px) {
  .cuerpo{
    width: 99%;  }
}*/

.imagen-cuerpo{
width: 100%;
height: auto;
margin: 0 auto;

}
.cuerpo-1{
margin: 0 auto;
margin-bottom: 1em;
width: 90%;
height: auto;
background-color: #1d1b1b;
border-radius: 10px;
padding: 1em;
color: white;
}

.bottom{
  background-color: #1d1b1b;
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  .bottom > #S1{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;  
  padding-right: 4em;
  }
  .bottom > #S2{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
  }

.a-bottom{
color: #1eff00;
word-wrap: break-word;
}
.a-bottom:hover{
color: blue;
}


.boton-content{
position: relative;
margin: 0 auto;
width: auto;
height: auto;
text-align: center;
}

.boton-content:after  {
clear: both;   
display: inline-table;
content: "";
}


.click {
float: center;
padding: 10px;
position: relative;
width: 10em;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
}

.click:hover{
opacity: .6;
}

#processing {background-color: #0e0b2c;
color: white}

#arduino{background-color: #00b698;}

#content {
margin-top: 10px;
width: 100%;
height: 500px;
border:  rgb(71, 0, 119);;
}

.body-tittle{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}
p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#compra{
  color: green;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-family: 'Asap Condensed';
}

td{
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-family: 'Asap Condensed';
}

tr:hover{background-color: #3f3d3d}

th {
  background-color: purple;
  color: white;
}
