<nav>
  <div class="toggle">
    <div class="menu" ><i class="fa fa-bars" aria-hidden="true" ></i></div>

    </div>
    
  <ul>
    <li><a href="index.html"><b>Home</b></a>
    <li><a href="Information.html"><b>Information</b></a>
    <li><a href="materials.html"><b>Materials</b></a>
    <li><a href="Codes.html"><b>Codes</b></a>

    </ul>

  </nav>

 
  <script type="text/javascript"> src="main.js">
    $(document).ready(function(){
      $('.menu').click(function(){
        $('.ul').toggleClass('active');
      })

    })

  </script>
