body {
    margin: 0 auto;
    background-color: lightblue;
}

form{
	width:300px;
	 text-align: center;
	border-radius:10px;
	margin:auto;
	background-color: white;
}

div .a-buttons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
  font-family: monospace; 
}

#logo {
    width: 12em;
}


.cuerpo{
margin: 0 auto;
width: 80%;
height: 38em;
background-color: white;
box-shadow: 2px 2px 10px #666;
}
.bottom{
  background-color: black;
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom > #S1{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 2em;  
}
.bottom > #S2{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}
.bottom > #S3{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}

.a-bottom{
  color: #03b7ff;
}
.a-bottom:hover{
  color: blue;
}








/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}












/*alan page*/



body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: grey;
}


*{
	box-sizing: border-box;
}







.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3; 
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}







/* ImageSlider    */



.home{
	height: 100vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1;
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}














@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #FF5722;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}








/* NavBar Transofrmable en Desktop & Mobile */

nav{
  width: 100%;
  background: black;
}
ul{
  width: 80%;
  margin:0 auto;
  padding:0;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  color: white;
  font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 100;
}
ul li:hover {
  background: #e91e63;

}
ul li a {
  color: #fff;
  text-decoration: none;
}
.toggle{
  width:  100%;
  padding: 10px 20px;
  background: black; 
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media (max-width: 768px){
  .toggle
  {
    display: block;
  }


ul  {
  width: 100%;
  display: block;
}
ul li {
  display: block;
  text-align: center;
}
.active
{
  display: block;

}
}
